<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
        content="ie=edge">
  <link rel="stylesheet"
        href="index.css">
  <title>Dashboard</title>
</head>
<body>
<div class="container-box">
  <nav>
    <ul>
      <li><a href="/">Home Page</a></li>
      <li><a href="/register">Register Page</a></li>
      <li><a href="/login">Login Page</a></li>
    </ul>
  </nav>

  <h1>Dashboard</h1>
  <h2>Welcome {{user}}</h2>
</div>
</body>
</html>