<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
        content="ie=edge">
  <title>Home page</title>
  <link rel="stylesheet"
        href="/index.css">
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">Home Page</a></li>
      <li><a href="/register">Register Page</a></li>
      <li><a href="/login">Login Page</a></li>
    </ul>
  </nav>
  <h1 class="center">Home Page</h1>
</body>
</html>