<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
        content="ie=edge">
  <title>Login page</title>
  <link rel="stylesheet"
        href="/index.css">
</head>
<body>

  <nav>
    <ul>
      <li><a href="/">Home Page</a></li>
      <li><a href="/register">Register Page</a></li>
      <li><a href="/login">Login Page</a></li>
    </ul>
  </nav>

  <h1 class="center">Login Page</h1>
  {{message}}
  <div class="container-box">
    <h1 class="center">Node simple authentcation system</h1>
    <form method="post" action="/login">
      <div class="container">

        <label for="email"><b>Email</b></label>
        <input type="email"
               placeholder="Enter User email"
               name="email"
               required>

        <label for="password"><b>Password</b></label>
        <input type="password"
               placeholder="Enter User Password"
               name="password"
               required>

        <button type="submit">Log in</button>

      </div>
    </form>
  </div>
</body>
</html>